/build
/dist
/tmp*
*.pyc
__pycache__
*.egg-info
*.onnx
/test/cis/*.json
/test/gomoku/*.json
/test/resnet-18/*.json
/test/sequence_net/*.json
/test/CIMA/resnet18/*.svg
/test/CIMA/resnet18/*.onnx
/test/CIMA/resnet18/*.pptx
/test/CIMA/resnet18/data
/test/CIMA/resnet18/figs
/test/CIMA/resnet18-large
/test/CIMA/v1